*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input {
  font-family: Poppins;
  color: #333;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

body {
  font-family: Poppins;
  font-weight: 300;
  color: #353540;
}

[class*="__title"] {
  font-family: Georgia;
  font-weight: 700;
  font-size: 48px;
  text-align: start;
}

[class*="__subtext"] {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 2px;
}

[class*="__container"] {
  max-width: 1176px;
  margin: 0px auto;
  padding: 0px 15px;
}

.wrapper {
  background-image: url("../img/background/background.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  position: relative;
  z-index: 5;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  display: inline-block;
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 10px;
  background-color: #ee4f3c;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #c64a4a;
}

/* ======================= */

.menu {
  display: flex;
  justify-content: center;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0px 40px 0px 0px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  letter-spacing: 1px;
}

.menu__link:hover {
  text-decoration: underline;
}
/* =======find=========== */
/* .find {
} */

.find__container {
  display: flex;
  flex: 1 1 50%;
}

.find__content {
  flex: 1 0 50%;
  padding: 100px 0px;
}

.main-text {
  max-width: 652px;
}

.main-text h1 {
  font-family: Georgia;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  letter-spacing: -4px;
  color: #353540;
}

.main-text p {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 2px;
  margin: 30px 0px 50px;
}

.find__form {
  display: inline-flex;
  flex: 0 1 50%;
  justify-content: start;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

form.find__form {
  background-color: #fff;
  box-shadow: none;
}

.find__form input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 70px;
  color: #737373;
  padding: 0px 10px;
  border-right: 0px;
  box-sizing: border-box;
}

.diviber {
  width: 1px;
  height: 28px;
  background-color: #353540;
  margin: 0px 20px;
}

/* .find__form-button {
} */

.find__form-button .button {
  height: 70px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.find__form img {
  margin: 0px 0px 0px 20px;
}
.find__decoration {
  position: relative;
  flex: 0 1 50%;
  margin: 0px 80px;
}
.find__decoration__decor {
  position: absolute;
  z-index: 50;
}

.find__decoration__decor_1 {
  top: 176px;
  right: 657px;
}

.find__decoration__decor_2 {
  top: -20px;
  right: 518px;
}

.find__decoration__decor_3 {
  top: 70px;
  right: 50px;
}

.find__decoration__decor_4 {
  bottom: 165px;
  right: -14px;
}

.find__decoration__decor_5 {
  bottom: 62px;
  right: 573px;
}

.find__decoration__decor_6 {
  top: 173px;
  right: -41px;
}

.decoration-find__image {
  position: relative;
  width: auto;
  z-index: 2;
}
/* ======================================== */

.job-post {
  position: relative;
  background-image: url("../img/background/back.png");
  background-repeat: repeat-x;
  background-color: #232443;
  margin-top: -60px;
  width: 200vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.job-post__container {
  height: 650px;
}

.job-post__text {
  font-family: Georgia;
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  color: #fff;
  text-align: start;
  padding: 100px 0px 50px;
}

/* .job-post__card {
} */

.job-post__card__items {
  max-width: 1176px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.company__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.company__info h4 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.company__logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-weight: 600;
}

.company__logo img {
  max-width: 100%;
  max-height: 100%;
}

.rating_group {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.job-post__card__item_1,
.job-post__card__item_2,
.job-post__card__item_3 {
  flex-basis: 33.33%;
  flex-grow: 0;
  flex-shrink: 1;
  width: 370px;
  height: 250px;
}

.job-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  flex: 1 1 330px;
  min-width: 330px;
  min-height: 250px;
  padding: 25px 30px;
  margin: 0;
  background-color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.job-card:hover {
  background-color: rgba(238, 79, 60, 0.5);
  backdrop-filter: blur(10px);
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.job-card:hover .job__type,
.job-card:hover .job__location,
.job-card:hover .job__details,
.job-card:hover .company__info h4 {
  color: #fff;
  font-weight: 500;
  background-color: transparent;
}

.job-card:hover .job__title,
.job-card:hover .job__price {
  color: aliceblue;
}

.card__body {
  flex-grow: 1;
  margin-bottom: 15px;
}

.job__title {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 700;
  color: #353540;
  margin-bottom: 5px;
}

.job__details {
  font-size: 16px;
  font-weight: 300;
  color: #5d5d61;
  line-height: 2;
}

.card__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}

.job__type,
.job__location {
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-weight: 300;
  white-space: nowrap;
}

.job__price {
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  color: #353540;
}

.job-post__card__subtext {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.job-post__card__subtext a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

/* ==================category============================ */

.categories {
  position: relative;
  width: 100%;
  margin: 50px 0;
}

/* .categories__container {
} */

.categories__title {
  max-width: 1176px;
  line-height: 75px;
  padding: 100px 0px 50px;
  color: #353540;
}

/* .categories__card {
} */

.categories__card__items {
  max-width: 1176px;
  display: flex;
  flex: 0 1 25%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

/* .categories__card__item_1 {
} */

.card-categories {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  border: 1px solid #eeeeee;
  width: 270px;
  height: 270px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 30px 10px;
  background-color: #fff;
  transition: all 0.3s ease 0s, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-categories:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.card-categories:hover .item__img,
.card-categories:hover .item__img .categories-icon path {
  background-color: #ee4f3c;
  fill: #ffffff;
}

.card-categories:hover .item__img .categories-icon-red path {
  stroke: #ffffff;
}

.item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 20px;
  background-color: #fff8f8;
  margin-bottom: 15px;
}
.item__img .categories-icon path {
  fill: #ee4f3c;
}

.item__img .categories-icon-red path {
  stroke: #ee4f3c;
}

.card-categories__text {
  text-align: center;
}

.item-categories__title {
  font-family: Georgia;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px 0px;
}

.item-categories__subtext {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
}

.categories__back {
  position: absolute;
  width: 180px;
  height: 266px;
}

/* ===========get=================== */

.get-start {
  position: relative;
  margin: 150px 0px 0px 0px;
}
.get-start__container {
  display: flex;
  flex: 1 1 50%;
}
.get-start__info {
  margin: 200px 0;
  min-width: 500px;
}
.get-start__title {
  letter-spacing: 2px;
  margin: 0px 0px 50px 0px;
}

.get-start__text {
  width: 90%;
  margin: 0px 0px 50px 0px;
}
/* .get-start__button {
} */

.get-start__picture {
  max-width: 810px;
}

.picture__img {
  display: flex;
}

.get-start__back {
  position: absolute;
  bottom: 120px;
  right: 20px;
}

/* =============des==================== */
.desinger {
  background-image: url("../img/background/desinger.png");
  background-color: #fff8f8;
  max-height: 750px;
  margin: 20px 0px 100px;
}
.desinger__container {
  display: flex;
  gap: 100px;
}

.desinger__video iframe {
  width: 570px;
  height: 750px;
  border-radius: 30px;
  margin: 100px 0px;
}

.desinger__info {
  margin: 200px 0px;
}
.desinger__text__title {
  line-height: 55px;
  margin: 0px 0px 50px 0px;
}

.desinger__text__subtext {
  margin: 0px 0px 50px 0px;
}
/* .desinger__button {
} */

/* =========feed=============== */

.feedback {
  padding: 150px 0px;
}
.feedback__container {
  margin: 40px auto;
  padding: 20px;
}

.feedback__container input[name="slider"] {
  display: none;
}

.feedback__title {
  max-width: 439px;
  line-height: 60px;
  margin: 0px 0px 50px;
}

.feedback__slider-wrapper {
  max-width: 500px;
  /* margin: 0 auto; */
}

.feedback-quote {
  font-size: 4rem;
  font-weight: bold;
  color: #ff5d5d;
  line-height: 1;
  position: absolute;
  top: 15px;
  left: 25px;
}

.slides {
  display: flex;
  width: 300%;
  transition: margin-left 0.5s ease-in-out;
  gap: 30px;
}

.slides > div {
  width: calc(100% / 3);
  flex-shrink: 0;
}

#slide-1:checked ~ .feedback__slider-wrapper .slides {
  margin-left: 0;
}

#slide-2:checked ~ .feedback__slider-wrapper .slides {
  margin-left: -100%;
}

#slide-3:checked ~ .feedback__slider-wrapper .slides {
  margin-left: -200%;
}

.slide {
  min-width: 570px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.5s;
}

.slider-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.quote-icon {
  width: 30px;
  height: 25px;
  opacity: 0.3;
  fill: #ece1e0;
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
  /* float: left; */
  margin-right: 10px;
  margin-bottom: 5px;
}
.quote-icon .quote-sgv {
  display: block;
  width: 100%;
  height: 100%;
}

#slide-1:checked ~ .slides .slider-1 .quote-icon,
#slide-2:checked ~ .slides .slider-2 .quote-icon,
#slide-3:checked ~ .slides .slider-3 .quote-icon {
  opacity: 1;
  color: #e54c3c;
  transform: scale(1);
}

.quote-icon p {
  margin-bottom: 25px;
  color: #5d5d61;
  text-align: left;
  overflow: hidden;
}

.author-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-top: 20px;
}

.feedback-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.author-img-wrapper {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.feedback-author img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  box-sizing: border-box;
}

.author-photo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.author-details {
  text-align: left;
}
.author-details h3 {
  margin: 0px 0px 5px;
  font-family: Georgia;
  font-weight: 700;
  font-size: 20px;
  color: #353540;
}

.author-details p {
  margin: 0px 0px 15px;
  font-size: 16px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 50px 0px;
}

.dots label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f8f8;
  margin: 0 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dots label:hover {
  background-color: #ee4f3c;
}

#slide-1:checked ~ .dots label[for="slide-1"],
#slide-2:checked ~ .dots label[for="slide-2"],
#slide-3:checked ~ .dots label[for="slide-3"] {
  background-color: #ff5d5d;
}

/* ======2======= */

/* h2 {
  text-align: center;
  font-size: 1.7rem;
}
ul {
  width: 100vw;
  height: 300px;
  padding: 10px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  columns: 1;
  text-align: center;
}
li {
  list-style-type: none;

  display: inline-block;
  height: 100%;
  width: 200px;

  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;
  margin: 0 10px;

  text-align: left;
}

li:nth-child(even) {
  background-color: cyan;
}
ul::column {
  scroll-snap-align: center;
}
ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

ul::scroll-button(*):hover,
ul::scroll-button(*):focus {
  opacity: 1;
}

ul::scroll-button(*):active {
  translate: 1px 1px;
}

ul::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

ul::scroll-button(left) {
  content: "◄";
}

ul::scroll-button(right) {
  content: "►";
}

ul {
  anchor-name: --my-carousel;
}

ul::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}

ul::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) + 13px);
}

ul::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) + 13px);
}

ul {
  scroll-marker-group: after;
}

ul::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
ul::column::scroll-marker {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
}

ul::column::scroll-marker:target-current {
  background-color: black;
} */
