*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

body {
  font-family: Poppins;
  font-weight: 300;
  color: #353540;
}

[class*="__container"] {
  max-width: 1176px;
  margin: 0px auto;
  padding: 0px 15px;
}

.wrapper {
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  position: relative;
  z-index: 5;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 10px;
  background-color: #ee4f3c;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #c64a4a;
}

/* ======================= */

.menu {
  display: flex;
  justify-content: center;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0px 40px 0px 0px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  letter-spacing: 1px;
}

.menu__link:hover {
  text-decoration: underline;
}
/* =======find=========== */
/* .find {
} */

.find__container {
  display: flex;
  flex: 1 1 50%;
}

.find__content {
  flex: 1 0 50%;
  padding: 100px 0px;
}

.main-text {
  max-width: 652px;
}

.main-text h1 {
  font-family: Georgia;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #353540;
}

.main-text p {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 2px;
  margin: 30px 0px;
}

.find__form {
  display: inline-flex;
  flex: 0 1 50%;
  justify-content: start;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

form.find__form {
  background-color: #fff;
  box-shadow: none;
}

.find__form input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 70px;
  color: #737373;
  padding: 0px 20px;
  border-right: 0px;
  box-sizing: border-box;
}

.diviber {
  width: 1px;
  height: 28px;
  background-color: #353540;
  margin: 0px 20px;
}

/* .find__form-button {
} */

.find__form-button .button {
  height: 70px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.find__form img {
  margin: 0px 0px 0px 20px;
}
.find__decoration {
  position: relative;
  flex: 0 1 50%;
  margin: 0px 80px;
}
.find__decoration__decor {
  position: absolute;
  z-index: 50;
}

.find__decoration__decor_1 {
  top: 176px;
  right: 657px;
}

.find__decoration__decor_2 {
  top: -20px;
  right: 518px;
}

.find__decoration__decor_3 {
  top: 70px;
  right: 50px;
}

.find__decoration__decor_4 {
  bottom: 165px;
  right: -14px;
}

.find__decoration__decor_5 {
  bottom: 62px;
  right: 573px;
}

.find__decoration__decor_6 {
  top: 173px;
  right: -41px;
}

.decoration-find__image {
  position: relative;
  width: auto;
  z-index: 2;
}
/* ======================================== */

.job-post {
  position: relative;
  background-image: url("/img/back.png");
  background-repeat: repeat-x;
  background-color: #232443;
  margin-top: -60px;
  width: 200vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.job-post__container {
  height: 650px;
}

.job-post__text {
  font-family: Georgia;
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  color: #fff;
  text-align: start;
  padding: 100px 0px;
}

/* .job-post__card {
} */

.job-post__card__items {
  max-width: 1176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-post__card__item_1,
.job-post__card__item_2,
.job-post__card__item_3 {
  flex-basis: 33.33%;
  flex-grow: 0;
  flex-shrink: 1;
}

.job-card {
  flex: 0 1 33.33%;
  padding: 0 10px;
}

.job-post__card__subtext {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.job-post__card__subtext a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}
